# Dependencies
node_modules
.bun

# Environment files
.env
.env.*
!.env.example

# Build artifacts
dist
coverage

# Development files
*.log
.DS_Store
*.local

# IDE
.idea
.vscode
*.swp
*.swo

# Git
.git
.gitignore
